<!--
 *  Copyright CSI-Piemonte - 2023
 *  SPDX-License-Identifier: GPL-3.0-or-later
-->
<app-messaggi-controlli-obbligatori [messaggiObbligatori]="messaggiObbligatori"></app-messaggi-controlli-obbligatori>
<div class="row mb-3" *ngIf="!readOnly">

  <div class="form-row col-md-4 md-2">
    <select id="attivita" name="attivita" class="form-control border col-md-10" [(ngModel)]="attivitaSelezionata" (change)="cleanUtentiGruppi()">
      <option [ngValue]="null" disabled>{{ "form_logici.attivita" | translate }}</option>
      <option [ngValue]="singolaAttivita" *ngFor="let singolaAttivita of attivitaUtente" [disabled] ="disabilitaAttivita(singolaAttivita)">
        {{singolaAttivita.nome}}
      </option>
    </select>
  </div>

  <div class="form-row col-md-4 md-2">
    <app-ricerca-utente #ricerca class="col-md-10" [(ngModel)]="selectedUser" [gruppi]="ricercaAncheGruppi" [filtroGruppi]="filtroRicercaGruppi"
     [filtroUtenti]="filtroRicercaUtenti" [utenteCorrente]="true" [disabled]="raggiuntoNumeroMaxUtenti() || attivitaSelezionata == null"></app-ricerca-utente>
  </div>


  <div class="form-row mb-2 col-md-2 md-2">
    <button class="btn btn-sm btn-primary mb-3" type="button" (click)='aggiungi()' [disabled]="disabledAddButton()">
      {{'common.aggiungi' | translate}}
    </button>
  </div>
  <div class="text-right"><label>{{ 'form_logici.ordine_priorita_crescente' | translate}}</label></div>
</div>
<br>
<div class="table-responsive mb-4">

  <ng-container *ngIf="loadingError">
    <app-caricamento-fallito [error]="loadingError" (retry)="refresh()"></app-caricamento-fallito>
  </ng-container>
  <ng-container *ngIf="loading">
    <app-caricamento-in-corso [top]="'6em'"></app-caricamento-in-corso>
  </ng-container>

  <ng-container *ngIf="!loading && !loadingError">

    <table class="table table-sm table-activity">
      <thead>
        <tr>
          <th scope="col">
            <a>{{"form_logici.utente" | translate | uppercase}}</a>
          </th>
          <th scope="col">
            <a>{{"form_logici.gruppo" | translate | uppercase}}</a>
          </th>
          <th scope="col">
            <a>{{"form_logici.attivita" | translate | uppercase}}</a>
          </th>
          <th scope="col"><span class="sr-only">{{"common.azioni" | translate | uppercase}}</span></th>
        </tr>
      </thead>
      <tbody cdkDropList [cdkDropListData]="pianificazioni" (cdkDropListDropped)="drop($event)" class="example-box">
        <tr *ngFor="let pianificazione of pianificazioni; let i = index" cdkDrag cdkDragLockAxis="y"
          class="drag-handle">
          <td class="col-md-3">{{ pianificazione.utenteGruppo.utente ? pianificazione.utenteGruppo.utente.nome + ' ' +
            pianificazione.utenteGruppo.utente.cognome : '' }}</td>
          <td class="col-md-3">{{ pianificazione.utenteGruppo.gruppo?.descrizione || ''}}</td>
          <td class="col-md-3">{{pianificazione.attivita.nome}}</td>
          <td class="col-xs">
            <span class="d-inline-block" data-toggle="tooltip" title="Elimina" (click)="deletePianificazione(i)"
              style="cursor: pointer;" *ngIf="!readOnly">
              <em class="fas fa-trash"></em>
            </span>
          </td>
        </tr>
        <tr *ngIf=!(pianificazioni?.length)>
          <td colspan="3" class="text-center">
            <em>Nessuna attivit&agrave; pianificata.</em>
          </td>
        </tr>

      </tbody>
    </table>
  </ng-container>
</div>
