<!--
 *  Copyright CSI-Piemonte - 2023
 *  SPDX-License-Identifier: GPL-3.0-or-later
-->
<section class="news-ticker">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-uppercase separator">News</h2>
                <div class="news-ticker-container overflow-hidden">
                    <div class="owl-carousel news-ticker-body">
                        <div class="news-ticker-item"><a href="#">Da lunedì 30 dicembre sarà disponibile il nuovo
                                applicativo gestione ferie per tutt...</a></div>
                        <div class="news-ticker-item"><a href="#">Da lunedì 30 dicembre sarà disponibile il nuovo
                                applicativo gestione ferie per tutt...</a></div>
                        <div class="news-ticker-item"><a href="#">Da lunedì 30 dicembre sarà disponibile il nuovo
                                applicativo gestione ferie per tutt...</a></div>
                        <div class="news-ticker-item"><a href="#">Da lunedì 30 dicembre sarà disponibile il nuovo
                                applicativo gestione ferie per tutt...</a></div>
                        <div class="news-ticker-item"><a href="#">Da lunedì 30 dicembre sarà disponibile il nuovo
                                applicativo gestione ferie per tutt...</a></div>
                    </div>
                    <button class="btn news-ticker-next" tabindex="0" title="Visualizza prossima news"><i
                            class="fas fa-angle-right" aria-hidden="true"></i></button>
                </div>
            </div>

        </div>
    </div>
</section>
