/*
 * Copyright CSI-Piemonte - 2023
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

h1 {
    font-size: 1.40em !important;
}
h2 {
    font-size: 1.30em !important;
}
h3 {
    font-size: 1.20em !important;
}
h4 {
    font-size: 1.10em !important;
}
