<!--
 *  Copyright CSI-Piemonte - 2023
 *  SPDX-License-Identifier: GPL-3.0-or-later
-->
<div class="modal-content">

    <div class="modal-header">
        <h5 class="modal-title">
            <button type="button" class="btn btn-link p-0" data-dismiss="modal"
                (click)="modal.dismiss('click_on_back_arrow')">
                <i class="fas fa-arrow-left"></i>
            </button>
            &nbsp; Informazioni firma
        </h5>
        <div *ngIf="helper">
          <app-helper
            [helper] = "helper"
            [type] = "'MODAL'">
          </app-helper>
        </div>
    </div>

    <div class="modal-body" style="overflow-x: auto;">
        <app-dettaglio-verifica-firme [firme]="firme" [layout]="layout"></app-dettaglio-verifica-firme>
    </div>
</div>
