/*
 * Copyright CSI-Piemonte - 2023
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
@import 'variables';

.nav-icon { background:#FFF; position: relative; margin-right:5px;  color:$rp_darkblue; padding:5px; border-radius: 100%; width:30px; height:30px; display:inline-block; text-align:center; line-height:1.3 !important;  }
