/*
 * Copyright CSI-Piemonte - 2023
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
.invalid-info {
  // display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.777rem;
  color: #d9364f;
}

.valid-info {
  // display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.777rem;
  color: #080808;
}
