<!--
 *  Copyright CSI-Piemonte - 2023
 *  SPDX-License-Identifier: GPL-3.0-or-later
-->
<section class="buttons mb-auto">
  <div class="row">
    <div class="col-12 col-md-6 mobile-first">
      <button class="btn btn-sm btn-primary mobile-first mr-3 mb-3" (click)="goToElencoLavorazioni()">Elenco lavorazioni</button>

      <button class="btn btn-sm btn-primary mobile-first mr-3 mb-3" (click)="goToCreazionePratica()">Crea Pratica</button>

      <button *appHasUseCase="'LOAD_PRATICHE'" class="btn btn-sm btn-primary mobile-first mb-3" (click)="goToCaricamentoPratiche()">Carica pratiche da file</button>
    </div>

    <div class="col-12 col-md-6 mobile-first text-right">
      <button class="btn btn-sm btn-primary mobile-first mb-3" (click)="goToEsecuzioneMultipla()">Esecuzione multipla</button>
    </div>

  </div>
</section>
