/*
 * Copyright CSI-Piemonte - 2023
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
.loading {
    font-size: 1.25em;
    opacity: 75%;
}

.ms-15 {
    max-width: 15em;
}

.ms-20 {
    max-width: 20em;
}

.ms-30 {
    max-width: 30em;
}

.ms-90pc {
    max-width: 90%;
}
