<!--
 *  Copyright CSI-Piemonte - 2023
 *  SPDX-License-Identifier: GPL-3.0-or-later
-->
<div class="container">
    <div class="row mt-3 mb-3">
        <button type="button" class="btn btn-link btn-xs mr-2 clickable" [routerLink]="'/amministrazione'">
            <span class="fas fa-backspace pr-2"></span> Home
        </button>
    </div>

    <h2 class="mt-3 mb-5">{{ "task_automatici_in_errore.header" | translate }}</h2>

    <ng-container *ngIf="loadingError">
      <app-caricamento-fallito [error]="loadingError" (retry)="refresh()"></app-caricamento-fallito>
    </ng-container>
    <ng-container *ngIf="loading">
      <app-caricamento-in-corso [top]="'6em'"></app-caricamento-in-corso>
    </ng-container>


    <ng-container *ngIf="!loading && !loadingError" >

      <div class="row mt-3" *ngIf="table">
          <div class="col-12 col-lg-4 pt-1">
            <!-- EMPTY -->
          </div>
          <div class="col-12 col-lg-4 text-center">
              <!-- EMPTY -->
          </div>
          <div class="col-12 col-lg-4 text-right">
            <cosmo-table-search-filter *ngIf="table" [table]="table" [enableSearchIn]="false">
            </cosmo-table-search-filter>
          </div>
      </div>

      <div class="row mt-5">
          <div class="col-12 table-container mobile-first">
            <cosmo-table
              #table
              [tableDisplayClass]="'table-sm table-hover'"
              [columns]="columns"
              [paginationMode]="'CLIENT'"
              [data]="jobs"
              [defaultPageSize]="10"
              [possiblePageSize]="[5,10,20,50,100]"
              [defaultSortingDirection]="'ASC'"
              [enablePagination]="true"
              [defaultSortingColumn]="'descrizioneEnte'"
              [enableSorting]="true"
            >

              <!-- celle custom -->
              <ng-template let-row="row" let-column="column" let-value="value" #cellTemplate>

                <!-- cella ICONA DETTAGLIO -->
                <div *ngIf="column.name==='info'">

                    <span  placement="left" [ngbPopover]="popContent"
                        popoverClass="very-large-popover" [popoverTitle]="popTitle"
                        [autoClose]="'outside'">
                        <ng-template #popContent>
                            <span  class="text-info">
                                <p>{{row.info}}</p>
                            </span>
                        </ng-template>
                        <ng-template #popTitle>Informazioni aggiuntive</ng-template>
                        <i class="fas fa-info-circle"></i>
                    </span>

                </div>
                <div *ngIf="column.name === 'azioni'">
                    <button class="btn btn-action-icon btn-link"(click)="move(row)">
                        <i class=" fas fa-play " style="color:green;"></i>
                    </button>

                </div>

              </ng-template>

            </cosmo-table>
          </div>
      </div>

      <div class="row mt-3" *ngIf="table">
          <div class="col-12 col-lg-3">
            <!-- EMPTY -->
          </div>
          <div class="col-12 col-lg-6 text-center">
            <cosmo-table-pagination *ngIf="table"
              [table]="table"
            ></cosmo-table-pagination>
          </div>
          <div class="col-12 col-lg-3 text-right pt-2">
            <cosmo-table-page-size *ngIf="table"
              [table]="table"
            ></cosmo-table-page-size>
          </div>
      </div>

    </ng-container>

</div>

