/*
 * Copyright CSI-Piemonte - 2023
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
.card:after {
    content: "";
    display: block;
    margin-top: 12px;
    margin-left: 24px;
}

.card-commento {
    width: fit-content;
    min-width: 30em;
}

.card-commento-own {
    background-color: #f6f6ff !important;
    margin-left: 1em;
}
