<!--
 *  Copyright CSI-Piemonte - 2023
 *  SPDX-License-Identifier: GPL-3.0-or-later
-->
<div class="row" *ngIf="!embedded">
  <div class="col-sm-12">

    <button class="btn btn-outline-primary js-icon-switch border-0 shadow btn-block text-left" type="button"
      data-toggle="collapse" (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="collapseExample">
      <span class="fas {{ isCollapsed ? 'fa-plus-circle' : 'fa-minus-circle' }}"></span> {{"common.filtra" | translate | uppercase}}
    </button>
    <div class="collapse shadow js-content-toggle" id="collapseExample" [ngbCollapse]="isCollapsed">
      <div class="card card-form w-100 mb-0">
        <div class="card-body px-4 pb-0">
          <div class="row mt-3">
            <div class="form-group col-md-4 mb-1">
              <label for="tipologia_{{identificativo}}">{{"documenti.tipologia" | translate | uppercase}}</label>
              <input type="text" class="form-control border" id="tipologia_{{identificativo}}" placeholder=""
                [(ngModel)]="tipologia">
            </div>
            <div class="form-group col-md-4 mb-1">
              <label
                for="titoloNomeFile_{{identificativo}}">{{"documenti.titolo_nome_file" | translate | uppercase}}</label>
              <input type="text" class="form-control border" id="titoloNomeFile_{{identificativo}}" placeholder=""
                [(ngModel)]="titoloNomeFile">
            </div>
            <div class="form-group col-md-4 mb-1">
              <label for="formato_{{identificativo}}">{{"documenti.formato" | translate | uppercase}}</label>
              <input type="text" class="form-control border" id="formato_{{identificativo}}" placeholder=""
                [(ngModel)]="formato">
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="daFirmare">
          <div class="form-group">
            <div class="checkbox checkbox-inline">
              <label for="docsDaFirmare_{{identificativo}}">
                <input type="checkbox" [(ngModel)]="docsDaFirmare">
                {{"documenti.da_firmare" | translate | uppercase}}
              </label>
            </div>
          </div>
        </div>
        <div class="card-footer text-right border-top-0 px-4">
          <button type="button" class="btn btn-outline-primary btn-sm"
            (click)="cancellaRicerca()">{{"common.azzera" | translate | uppercase}}</button>
          &nbsp;
          <button type="button" class="btn btn-primary btn-sm"
            (click)="filtra()">{{"common.filtra" | translate | uppercase}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-sm-12 text-right pr-3">
    <cosmo-table-page-size
      [table]="mainTable"
    ></cosmo-table-page-size>
  </div>
</div>

<div class="row mb-3" *ngIf="!soloLettura && daFirmare">
  <div class="col text-right mobile-first">
      <div class="">
        <button class="btn btn-sm btn-outline-primary shadow-none" type="button" id="firma"
         [disabled]="disableFirmaButton()" (click)="firmaDocumenti()">
          <span class="fas fa-pen"></span> {{'common.firma' | translate | uppercase}}
        </button>
        <button class="btn btn-sm btn-outline-primary shadow-none" type="button" id="firmaTutti"
        [disabled]="disableFirmaTuttiButton()" (click)="firmaTuttiDocumenti()">
         <span class="fas fa-pen"></span> {{'common.firma_tutti' | translate | uppercase}}
       </button>
    </div>
  </div>
</div>

<div class="row {{  esecuzioneMultipla ? '' : 'mt-4' }}">
  <div class="col-sm-12 mt-2">
    <div class="table-responsive {{  esecuzioneMultipla ? '' : 'mb-4' }} text-nowrap">
      <ng-container [ngTemplateOutlet]="documentiTable" [ngTemplateOutletContext]="{ parentId: null }"></ng-container>
   </div>
  </div>
</div>

<div class="row {{  esecuzioneMultipla ? '' : 'mt-4' }}">
  <div class="col-sm-12 mt-2  text-center">
    <cosmo-table-pagination
      [table]="mainTable"
    ></cosmo-table-pagination>
  </div>
</div>

<ng-template #documentiTable let-parentId="parentId">
  <cosmo-table
      #table
      [tableContext]="{ parentId: parentId }"
      [enableMainHeader]="!parentId"
      [tableDisplayClass]="'table table-sm table-hover'"
      [dataProvider]="dataProvider"
      [columns]="!parentId ? columns : childColumns"
      [enableSelection]="!soloLettura || (selezionaDocumenti && !parentId)"
      [enableSelectAll]="true"
      [enableMultiSelect]="true"
      [enableSorting]="!parentId"
      [enablePagination]="!parentId"
      [paginationMode]="!parentId ? 'SERVER' : 'CLIENT'"
      [defaultPageSize]="10"
      [possiblePageSize]="[10,20,50,100]"
      [enableRowExpansion]="!parentId"
      [enableMultipleRowExpansion]="true"
      [expandableStatusProvider]="parentId ? undefined : expandableStatusProvider"
      (selectionChange)="selectionChangeHandler($event, parentId)"
      [defaultSortingDirection]="'ASC'"
      [defaultSortingColumn]="'ultima_modifica'"
      [itemIdentifier]="'id'"
      [enableItemTracking]="true"
      (allChecked)="checkAllChanged($event, parentId)"
      (itemChecked)="itemCheckChanged($event, parentId)"
      [enableExport]="true"
      [maxRowExport]="exportRowMaxSize"
    >

    <!-- celle custom -->
    <ng-template let-row="row" let-column="column" let-value="value" #cellTemplate >
      <!-- TEMPLATE PER L'ICONA ALLEGATO -->
      <div *ngIf="column.name === 'iconaAllegato'">
        <span class="fas fa-paperclip"></span>
      </div>

      <!-- TEMPLATE PER LA COLONNA CON IL FORMATO -->
      <div *ngIf="column.name === 'formato'">
        <app-template-formato-documenti [documento]="row" [codiceModale]="codiceModaleAnteprima"></app-template-formato-documenti>
      </div>

      <!-- TEMPLATE PER LA COLONNA CON INFO DOCUMENTO -->
      <div *ngIf="column.name === 'infoDocumento'" class="mr-2">
        <app-info-documento [documento]="row"></app-info-documento>
      </div>

      <!-- TEMPLATE PER LA COLONNA CON LE ICONE DI STATO -->
      <div *ngIf="column.name === 'stato'" style="font-size: 1.1em;">
        <app-template-stato-firma-utente-corrente *ngIf="soloFirmabili"
          [documento]="row" [cfUtenteCorrente]="cfUser" [task]="infoTask">
        </app-template-stato-firma-utente-corrente>
        <app-template-stato-firma-documenti [documento]="row" [codiceModale]="codiceModaleInfoFirma"></app-template-stato-firma-documenti>
        <app-template-stato-fea-documenti [documento]="row" [codiceModale]="codiceModaleInfoFea"></app-template-stato-fea-documenti>
        <app-template-stato-sigillo-elettronico-documenti [documento]="row" [codiceModale]="codiceModaleInfoSigillo"></app-template-stato-sigillo-elettronico-documenti>
        <app-template-alert-documenti [documento]="row"></app-template-alert-documenti>
        <app-dettaglio-approvazioni-documento [documentoDTO]="row"></app-dettaglio-approvazioni-documento>
        <app-dettaglio-smistamento [documentoDTO]="row"></app-dettaglio-smistamento>

      </div>

      <!-- TEMPLATE PER IL MENU DEL DETTAGLIO -->
      <div class="text-right" *ngIf="column.name === 'dettaglio'">
        <div class="dropdown d-inline-block">
          <button title="menu azioni"
            class="btn btn-dropdown dropdown-toggle"
            type="button"
            id="dropdownTableButton"
            data-toggle="dropdown"
            data-boundary="window"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="fas fa-eye"></span><span class="fas fa-angle-down ml-1"></span>
          </button>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTableButton">
            <div class="link-list-wrapper">
              <ul class="link-list">

                <ng-container >

                  <li *ngIf="row.contenutoTemporaneo?.formatoFile.supportaAnteprima && !row.contenutoOriginale && !row.contenutoSbustato && !row.ultimoContenutoFEA">
                    <a
                      class="list-item long-label" style="cursor: pointer;" (click)="preview(row, row.contenutoTemporaneo)">
                      <span>{{"documenti.preview_documento" | translate}}</span>
                    </a>
                  </li>

                  <li *ngIf="row.contenutoOriginale?.formatoFile.supportaAnteprima && !row.contenutoSbustato && !row.ultimoContenutoFEA">
                    <a
                      class="list-item long-label" style="cursor: pointer;" (click)="preview(row, row.contenutoOriginale)">
                      <span>{{"documenti.preview_documento" | translate}}</span>
                    </a>
                  </li>

                  <li *ngIf="row.contenutoSbustato?.formatoFile.supportaAnteprima && !row.ultimoContenutoFEA">
                    <a
                      class="list-item long-label" style="cursor: pointer;" (click)="preview(row, row.contenutoSbustato)">
                      <span>{{"documenti.preview_documento" | translate}}</span>
                    </a>
                  </li>

                  <li *ngIf="row.contenutoOriginale?.formatoFile.supportaAnteprima && !row.contenutoSbustato && row.ultimoContenutoFEA">
                    <a
                      class="list-item long-label" style="cursor: pointer;" (click)="preview(row, row.ultimoContenutoFEA)">
                      <span>{{"documenti.preview_documento" | translate}}</span>
                    </a>
                  </li>

                </ng-container>

                <ng-container>

                  <li *ngIf="row.contenutoTemporaneo && !row.contenutoOriginale" >
                    <a class="list-item" style="cursor: pointer;" (click)="download(row, row.contenutoTemporaneo)">
                      <span><span class="fas fa-download mr-0"></span>   {{"documenti.scarica_documento" | translate}}</span>
                    </a>
                  </li>

                  <li *ngIf="row.contenutoOriginale" >
                    <a class="list-item" style="cursor: pointer;" (click)="download(row, row.contenutoOriginale)">
                      <span><span class="fas fa-download mr-0"></span>   {{"documenti.scarica_documento" | translate}}</span>
                    </a>
                  </li>

                  <li *ngIf="row.contenutoSbustato" >
                    <a class="list-item" style="cursor: pointer;" (click)="download(row, row.contenutoSbustato)">
                      <span><span class="fas fa-download mr-0"></span>   {{"documenti.scarica_documento_sbustato" | translate}}</span>
                    </a>
                  </li>


                  <li *ngIf="row.contenutoFirmato" >
                    <a class="list-item" style="cursor: pointer;" (click)="download(row, row.contenutoFirmato)">
                      <span><span class="fas fa-download mr-0"></span>   {{"documenti.scarica_documento_firmato" | translate}}</span>
                    </a>
                  </li>
                </ng-container>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- TEMPLATE PER AGGIUNTA ALLEGATI -->
      <div class="text-right" *ngIf="column.name === 'aggiungiAllegato' && canViewAddAttachment(row) && !soloFirmabili">
        <button class="btn btn-action-icon btn-link ml-3" *ngIf="!soloLettura" (click)="aggiungiAllegato(row)">
          <span class="fas fa-paperclip"></span>
          <span class="fas fa-plus" style="font-size: 0.60em;"></span>
        </button>
      </div>

      <!-- TEMPLATE PER MODIFICARE I METADATI DEL DOCUMENTO -->
      <div class="text-right" *ngIf="column.name === 'modifica'">
        <button class="btn btn-action-icon btn-link" *ngIf="!soloLettura"
              (click)="modificaDocumento(row, parentId)"><span class="fas fa-pen"></span>
        </button>
      </div>

      <!-- TEMPLATE PER ELIMINARE IL DOCUMENTO -->
      <div class="text-right" *ngIf="column.name === 'cancella'  && !soloFirmabili && isTipoDocEliminabile(row.tipo)">
        <button class="btn btn-action-icon btn-link text-danger" *ngIf="!soloLettura"
              (click)="cancellaDocumento(row)"><span class="fas fa-trash-alt"></span>
        </button>
      </div>

      <!-- ESPANSIONE RIGA -->
      <ng-template #rowDetailTemplate let-row="row">
        <ng-container *ngIf="!parentId" [ngTemplateOutlet]="documentiTable"
          [ngTemplateOutletContext]="{ parentId: row.id }"></ng-container>
      </ng-template>

    </ng-template>
  </cosmo-table>
</ng-template>

