/*
 * Copyright CSI-Piemonte - 2023
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
@media screen and (max-width: 700px) {
  .row.justify-content-center.mobile-first {
    flex-direction: column;
  }

  .offset-3.mobile-first {
    max-width: 100% !important;
    margin-left: auto !important;
  }

  .col-3.mobile-first {
    max-width: 100% !important;
    padding: 20px;
    text-align: center !important;
  }

}
