/*
 * Copyright CSI-Piemonte - 2023
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
.btn[aria-expanded="false"] .span-expanded {
  display: none;
}

.btn[aria-expanded="true"] .span-noexpanded {
  display: none;
}

.custom-button{
  padding: 0 6px;
  font-size: 1.0rem;
  color: #080808;
  text-transform: capitalize;
}
