<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" [routerLink]="['basic']">Cosmo Table Samples</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['basic']" routerLinkActive="active">
              Basic use
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['column-selection']" routerLinkActive="active">
              Column selection
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['sorting']" routerLinkActive="active">
              Sorting by columns
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['filtering']" routerLinkActive="active">
              Filtering by columns
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['checkbox-filtering']" routerLinkActive="active">
              Global filters
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['pagination']" routerLinkActive="active">
              Pagination
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['selection']" routerLinkActive="active">
              Selection
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['row-expansion']" routerLinkActive="active">
              Row expansion
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['cell-formatting']" routerLinkActive="active">
              Cell formatting
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['custom-cell']" routerLinkActive="active">
              Custom cell rendering
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['header-actions']" routerLinkActive="active">
              Action buttons
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['context-actions']" routerLinkActive="active">
              Actions dropdown
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['reorder']" routerLinkActive="active">
              Row reorder
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['drag-and-drop']" routerLinkActive="active">
              Drag and drop
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['observable-data']" routerLinkActive="active">
              Observable data input
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['data-provider']" routerLinkActive="active">
              Data provider function
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['refresh']" routerLinkActive="active">
              Auto refresh policies
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['status-store']" routerLinkActive="active">
              Status store
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['export']" routerLinkActive="active">
              Export
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
