/*
 * Copyright CSI-Piemonte - 2023
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
@import 'variables';
@import 'typography';

.notifications { min-height:398px; max-height:398px; }
.notifications ul { list-style: none; margin:0; padding:0; }
.notifications ul li { position: relative; padding:10px 20px; border-bottom:1px solid $rp_darkblue; }
.notifications ul li:last-child { border-bottom:0; }
.notifications ul li.unread { background:$rp_extralightblue;  }
.notifications ul li:hover a { color:$rp_text_color; }
.notifications ul li p { margin:0 0 5px; }
.notifications .badge {text-transform: uppercase; font-size:0.6rem; }
.notifications .card-body { min-height:378px; max-height:378px; overflow:auto;}
.notifications .time { font-size:0.7rem; margin-left:5px; }
.notifications .toggle-read { position: absolute; color:#14233a; cursor:pointer; background:transparent; border:0;  top:10px; right:10px;  }

.notifications ul li.unread .badge-stilo { color:$rp_stilo; background:#FFF; }
.notifications ul li.unread .badge-pec { color:$rp_pec; background:#FFF; }
.notifications ul li.unread .badge-pratica { color:$rp_pratica; background:#FFF; }


.notifications ul li.loading { 
    background:$rp_extralight;  
    opacity: 0.5 !important;
}

@media screen and (min-width:992px) {
    .notifications .toggle-read { display:none; }
    .notifications .toggle-read.show-toggle { display:block; }
    .notifications li:hover .toggle-read { display:block; }
}
