<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:cache="http://www.springframework.org/schema/cache"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	   http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
	   http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
>
	<!-- NESSUN ACCESSO AL DB
	<import resource="dao-beans.xml"/>	
	 -->
	<cache:annotation-driven />
	
	<!-- Spring cache setup -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
    	<property name="cacheManager">
    		<ref bean="ehcache" />
    	</property>
    </bean>
	
	<!-- EHCache configuration -->
	<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="WEB-INF/ehcache.xml" />
	</bean>

	<task:annotation-driven executor="asyncExecutor" />
	<task:executor id="asyncExecutor" pool-size="10" queue-capacity="100" />
	
	<bean class="it.csi.cosmo.cosmobe.util.listener.SpringApplicationContextHelper"></bean>	
	
	<context:component-scan base-package="it.csi.cosmo.cosmobe.business" />
	<context:component-scan base-package="it.csi.cosmo.cosmobe.integration" />
	<context:component-scan base-package="it.csi.cosmo.cosmobe.security" />
	<context:component-scan base-package="it.csi.cosmo.cosmobe.config" />
	<context:component-scan base-package="it.csi.cosmo.cosmobe.discovery" />
	
	<!-- AOP ANNOTATION BASED -->
	<aop:aspectj-autoproxy proxy-target-class="true">
	</aop:aspectj-autoproxy>

	<context:component-scan base-package="it.csi.cosmo.cosmobe.util" />

</beans>
