/*
 * Copyright CSI-Piemonte - 2023
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
.icon {
  color: #185aa6;
}

.icon-filetype {
    width: 2em;
    display: inline;
    padding-right: 0.5em;
}

.dettaglio {
  padding-left: 0px;
  padding-right: 0px;
}

.icon-esito-verifica-firma {
  width: 2em;
  display: inline;
  padding-left: 0.5em;
}

.table-hover .detail-row:hover { 
  background-color: inherit !important;
  opacity: 1.0  !important;
}

.table-hover .detail-row tr:hover { 
  background-color: inherit !important;
  opacity: 1.0  !important;
}
