<!--
 *  Copyright CSI-Piemonte - 2023
 *  SPDX-License-Identifier: GPL-3.0-or-later
-->
<div class="container">
  <div class="row mt-3 mb-3">
    <button type="button" class="btn btn-link btn-xs mr-2 clickable" [routerLink]="'/amministrazione'">
      <span class="fas fa-backspace pr-2"></span> Home
    </button>
  </div>

  <h2 class="mt-3 mb-5">{{ "template_fea.header" | translate }}</h2>

  <ng-container *ngIf="loadingError">
    <app-caricamento-fallito [error]="loadingError" (retry)="refresh()"></app-caricamento-fallito>
  </ng-container>
  <ng-container *ngIf="loading">
    <app-caricamento-in-corso [top]="'6em'"></app-caricamento-in-corso>
  </ng-container>

  <ng-container *ngIf="!loading && !loadingError" >
    <div class="row mt-3" *ngIf="table">
      <div class="col-12 col-lg-6 pt-1">
        <button class="btn btn-primary btn-sm" (click)="aggiungi()">
          <span class="fas fa-plus-circle mr-2"></span> {{"template_fea.actions.aggiungi" | translate}}
        </button>
      </div>
      <div class="col-12 col-lg-2 text-center">
        <!-- EMPTY -->
      </div>
      <div class="col-12 col-lg-4 text-right">
        <!-- EMPTY -->
      </div>
    </div>

    <form [formGroup]="filterForm">

      <div class="row justify-content-between pt-5">

        <div class="col-lg-6 col-sm-12 form-group" *ngIf="!isConfiguratore">
          <label for="ente" [class.active]="filterForm?.controls['ente'].value!==null">
            {{"common.ente" | translate}}
          </label>

          <input
            [ngClass]="{'is-invalid': displayInvalid('ente')}"
            id="ente"
            type="text"
            class="form-control border"
            placeholder=""
            [ngbTypeahead]="searchEnti"
            formControlName="ente"
            name="ente"
            (focusout)="focusOutEnte($event.target.value)"
            [resultFormatter]="formatterEnte"
            [inputFormatter]="formatterEnte"
            (focus)="focusEnti$.next($any($event).target.value)"
            (click)="focusEnti$.next($any($event).target.value)"
            #instanceEnti="ngbTypeahead" [editable]="false" />
        </div>

        <div class="col-lg-6 col-sm-12 form-group ">

          <label for="descrizioneTemplate" [class.active]="filterForm?.controls['descrizioneTemplate'].value!==null">
            {{"template_fea.descrizione_template" | translate}}
          </label>
          <input [ngClass]="{'is-invalid': displayInvalid('descrizioneTemplate')}" type="text" id="descrizioneTemplate"
            name="descrizioneTemplate" class="form-control border" formControlName="descrizioneTemplate" placeholder=" " />
        </div>

      </div>

      <div class="row justify-content-between">

        <div class="col-lg-6 col-sm-12 form-group">
          <label for="tipoPratica" [class.active]="filterForm?.controls['tipoPratica'].value!==null">
            {{"common.tipo_pratica" | translate}}
          </label>

          <input
            [ngClass]="{'is-invalid': displayInvalid('tipoPratica')}"
            id="tipoPratica"
            type="text"
            class="form-control border"
            placeholder=""
            [ngbTypeahead]="searchTipiPratiche"
            formControlName="tipoPratica"
            name="tipoPratica"
            [resultFormatter]="formatterTipoPratica"
            [inputFormatter]="formatterTipoPratica"
            (focusout)="focusOutTipoPratica($event.target.value)"
            (focus)="focusTipoPratiche$.next($any($event).target.value)"
            (click)="focusTipoPratiche$.next($any($event).target.value)"
            #instanceTipiPratiche="ngbTypeahead"
            [editable]="false" />
        </div>

        <div class="col-lg-6 col-sm-12 form-group">
          <label for="tipoDocumento" [class.active]="filterForm?.controls['tipoDocumento'].value!==null">
            {{"common.tipo_documento" | translate}}
          </label>

          <input
            [ngClass]="{'is-invalid': displayInvalid('tipoDocumento')}"
            id="tipoDocumento"
            type="text"
            class="form-control border"
            placeholder=""
            [ngbTypeahead]="searchTipiDoc"
            formControlName="tipoDocumento"
            name="tipoDocumento"
            (focusout)="focusOutTipoDocumento($event.target.value)"
            [resultFormatter]="formatterTipoDocumento"
            [inputFormatter]="formatterTipoDocumento"
            (focus)="focusTipoDocumenti$.next($any($event).target.value)"
            (click)="focusTipoDocumenti$.next($any($event).target.value)"
            #instanceTipoDocumenti="ngbTypeahead"
            [editable]="false"
            [readonly]="isTipoDocFilterReadOnly()" />
        </div>
      </div>

      <div class="row">

        <div class="col-12 text-right">
          <button type="button" class="btn btn-outline-primary mr-2" (click)="azzera()">AZZERA</button>
          <button type="button" class="btn btn-primary" (click)="filtra()"
            [disabled]="!filterForm?.valid">FILTRA</button>
        </div>

      </div>

    </form>
    <br />

    <div class="row mt-5">
      <div class="col-12 table-container mobile-first">
        <cosmo-table #table
          [tableDisplayClass]="'table-sm table-hover variant-centered'"
          [columns]="columns"
          [paginationMode]="'SERVER'"
          [dataProvider]="dataProvider"
          [enablePagination]="true"
          [enableSorting]="true"
          [enableRowExpansion]="false"
          [enableMultipleRowExpansion]="false"
          [defaultSortingDirection]="'ASC'"
          [defaultSortingColumn]="'label'"
          [itemIdentifier]="'label'"
          [enableItemTracking]="true"
          [storeAdapter]="storeAdapter"
          [enableStorePersistence]="true">
          <!-- celle custom -->
          <ng-template let-row="row" let-column="column" let-value="value" #cellTemplate>

            <!-- cella ICONA DETTAGLIO -->
            <div *ngIf="column.name === 'azioni'">
              <button class="btn btn-link btn-xs btn-action-icon mr-3" type="button" (click)="modifica(row)">
                <i class=" fas fa-pen" title="{{ 'common.modifica' | translate }}"></i>
              </button>
              <button class="btn btn-link btn-xs btn-action-icon text-danger" type="button" (click)="elimina(row)">
                <i class=" fas fa-trash-alt" title="{{ 'common.elimina' | translate }}"></i>
              </button>
            </div>

          </ng-template>

        </cosmo-table>
      </div>
    </div>

    <div class="row mt-3" *ngIf="table">
      <div class="col-12 col-lg-3">
        <!-- EMPTY -->
      </div>
      <div class="col-12 col-lg-6 text-center">
        <cosmo-table-pagination *ngIf="table" [table]="table"></cosmo-table-pagination>
      </div>
      <div class="col-12 col-lg-3 text-right pt-2">
        <cosmo-table-page-size *ngIf="table" [table]="table"></cosmo-table-page-size>
      </div>
    </div>
  </ng-container>
</div>
