<!--
 *  Copyright CSI-Piemonte - 2023
 *  SPDX-License-Identifier: GPL-3.0-or-later
-->
<div class="container">
    <div class="row mt-3 mb-3">
        <button type="button" class="btn btn-link btn-xs mr-2 clickable" [routerLink]="'/amministrazione'">
          <span class="fas fa-backspace pr-2"></span> Home
        </button>
    </div>

    <h2 class="mt-3 mb-5">{{ "fruitori.header" | translate }}</h2>

    <ng-container>

      <div class="row mt-3" *ngIf="table">
          <div class="col-12 col-lg-4 pt-1">
            <button class="btn btn-primary btn-sm" (click)="aggiungi()">
              <span class="fas fa-plus-circle mr-2"></span> {{ "fruitori.actions.aggiungi" | translate }}
            </button>
          </div>
          <div class="col-12 col-lg-4 text-center">
              <!-- EMPTY -->
          </div>
          <div class="col-12 col-lg-4 text-right">
            <cosmo-table-search-filter *ngIf="table" [table]="table" [enableSearchIn]="false">
            </cosmo-table-search-filter>
          </div>
      </div>

      <div class="row mt-5">
          <div class="col-12 table-container mobile-first">
            <cosmo-table
              #table
              [tableDisplayClass]="'table-sm table-hover variant-centered'"
              [columns]="columns"
              [paginationMode]="'SERVER'"
              [dataProvider]="dataProvider"
              [enablePagination]="true"
              [enableSorting]="true"
              [enableRowExpansion]="true"
              [enableMultipleRowExpansion]="false"
              [defaultSortingDirection]="'ASC'"
              [defaultSortingColumn]="'nome'"
              [itemIdentifier]="'id'"
              [enableItemTracking]="true"
              [storeAdapter]="storeAdapter"
              [enableStorePersistence]="true"
            >
              <!-- celle custom -->
              <ng-template let-row="row" let-column="column" let-value="value" #cellTemplate>

                <!-- cella ICONA DETTAGLIO -->
                <div *ngIf="column.name === 'azioni'">
                  <button class="btn btn-link btn-xs btn-action-icon mr-3" type="button" (click)="modifica(row)">
                    <i class=" fas fa-pen" title="{{ 'common.modifica' | translate }}"></i>
                  </button>
                  <button class="btn btn-link btn-xs btn-action-icon text-danger" type="button" (click)="elimina(row)">
                    <i class=" fas fa-trash-alt" title="{{ 'common.elimina' | translate }}"></i>
                  </button>
                </div>

              </ng-template>

              <!-- dettaglio riga espansa -->
              <ng-template #rowDetailTemplate let-row="row">
                <div class="text-left">
                  <div class="mt-3">
                    <ng-container *ngTemplateOutlet="schemiAutenticazioneTemplate; context:{$implicit: row}"></ng-container>
                  </div>
                  <div class="mt-5">
                    <ng-container *ngTemplateOutlet="endpointsTemplate; context:{$implicit: row}"></ng-container>
                  </div>
                </div>
              </ng-template>

            </cosmo-table>
          </div>
      </div>

      <div class="row mt-3" *ngIf="table">
          <div class="col-12 col-lg-3">
            <!-- EMPTY -->
          </div>
          <div class="col-12 col-lg-6 text-center">
            <cosmo-table-pagination *ngIf="table"
              [table]="table"
            ></cosmo-table-pagination>
          </div>
          <div class="col-12 col-lg-3 text-right pt-2">
            <cosmo-table-page-size *ngIf="table"
              [table]="table"
            ></cosmo-table-page-size>
          </div>
      </div>

    </ng-container>

</div>

<!-- SCHEMI DI AUTENTICAZIONE -->
<ng-template let-fruitore #schemiAutenticazioneTemplate>

  <div class="mb-2">
    <strong>
      <span class="fas fa-key mr-2"></span>
      {{ 'fruitori.schemi_auth' | translate }}
    </strong>
  </div>
  <table class="table table-sm mt-3">
    <ng-container *ngIf="!!fruitore?.schemiAutenticazione?.length; else noSchemiAuth">
      <tr>
        <th> tipologia </th>
        <th> direzione </th>
        <th> username o chiave pubblica </th>
        <th> <!-- ACTIONS --> </th>
      </tr>
      <tr *ngFor="let schema of fruitore.schemiAutenticazione">
        <td>
          <ng-container *ngIf="schema.tipo.codice === 'BASIC'">
            <span class="fas fa-user-lock mr-2"></span> Basic authentication
          </ng-container>
          <ng-container *ngIf="schema.tipo.codice === 'API_MANAGER'">
            <span class="fas fa-passport mr-2"></span> CSI Api Manager
          </ng-container>
          <ng-container *ngIf="schema.tipo.codice === 'TOKEN'">
            <span class="fas fa-key mr-2"></span> Token authentication
          </ng-container>
          <ng-container *ngIf="schema.tipo.codice === 'DIGEST'">
            <span class="fas fa-fingerprint mr-2"></span> Digest signature
          </ng-container>
        </td>
        <td>
          <div *ngIf="!schema.inIngresso">
            <span class="fas fa-sign-out-alt"></span> in uscita
          </div>
          <div *ngIf="schema.inIngresso">
            <span class="fas fa-sign-in-alt"></span> in ingresso
          </div>
        </td>
        <td>
          <ng-container *ngIf="schema.tipo.codice === 'BASIC'">
            <ng-container *ngIf="schema.credenziali?.username">
              {{ schema.credenziali.username }}
            </ng-container>
          </ng-container>
          <ng-container *ngIf="schema.tipo.codice === 'TOKEN' || schema.tipo.codice === 'DIGEST' || schema.tipo.codice === 'API_MANAGER'">
            <ng-container *ngIf="schema.credenziali?.clientId">
              {{ schema.credenziali.clientId }}
            </ng-container>
          </ng-container>
        </td>
        <td class="text-right">
          <!-- ACTIONS -->
          <ng-container *ngIf="isTestable(schema)">
          <button class="btn btn-link btn-xs btn-action-icon mr-3" type="button" (click)="testSchemaAuth(fruitore, schema)">
            <i class=" fas fa-play-circle" title="prova"></i>
          </button>
          </ng-container>
          <button class="btn btn-link btn-xs btn-action-icon mr-3" type="button" (click)="modificaSchemaAuth(fruitore, schema)">
            <i class=" fas fa-pen" title="{{ 'common.modifica' | translate }}"></i>
          </button>
          <ng-container *ngIf="!schemaAuthInUso(fruitore, schema); else cantDelete">
            <button class="btn btn-link btn-xs btn-action-icon text-danger" type="button"
              (click)="eliminaSchemaAuth(fruitore, schema)"
            >
              <i class=" fas fa-trash-alt" title="{{ 'common.elimina' | translate }}"></i>
            </button>
          </ng-container>
          <ng-template #cantDelete>
            <button class="btn btn-link btn-xs btn-action-icon text-danger" type="button"
              [disabled]="true"
            >
              <i class=" fas fa-ban" title="schema di autenticazione in uso"></i>
            </button>
          </ng-template>
        </td>
      </tr>
      <tr>
        <td colspan="3"><!-- EMPTY --></td>
        <td class="text-right">
          <!-- ACTIONS -->
          <button class="btn btn-link btn-xs btn-action-icon" type="button" (click)="aggiungiSchemaAuth(fruitore)">
            {{ 'common.aggiungi' | translate }} <i class=" fas fa-plus ml-2" title="{{ 'common.aggiungi' | translate }}"></i>
          </button>
        </td>
      </tr>
    </ng-container>
  </table>
  <ng-template #noSchemiAuth>
    <tr>
      <td colspan="4" class="text-center">
        <em>nessuno schema di autenticazione configurato.</em>
        <br/>
        <button class="btn btn-link btn-sm mt-3" type="button" (click)="aggiungiSchemaAuth(fruitore)">
          {{ 'common.aggiungi' | translate }} <i class=" fas fa-plus ml-2" title="{{ 'common.aggiungi' | translate }}"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</ng-template>

<!-- ENDPOINTS -->
<ng-template let-fruitore #endpointsTemplate>
  <div class="mb-2">
    <strong>
      <span class="fas fa-network-wired mr-2"></span>
      {{ 'fruitori.endpoints' | translate }}
    </strong>
  </div>
  <table class="table table-sm mt-3">
    <ng-container *ngIf="!!fruitore?.endpoints?.length; else noEndpoints">
      <tr>
        <th> operazione </th>
        <th> codice descrittivo </th>
        <th> endpoint </th>
        <th> autenticazione </th>
        <th> <!-- ACTIONS --> </th>
      </tr>
      <tr *ngFor="let ep of fruitore.endpoints">
        <td>
          {{ ep.operazione?.descrizione || '--' }}
        </td>
        <td>
          {{ ep.operazione && ep.operazione.personalizzabile ? (ep.codiceDescrittivo || '--') : '--' }}
        </td>
        <td>
          <span class="fas fa-soap mr-2" *ngIf="ep.codiceTipoEndpoint === 'SOAP'" title="Endpoint SOAP"></span>
          <small style="font-size: 0.90em;" class="mr-2" *ngIf="ep.metodoHttp">{{ ep.metodoHttp | uppercase }}</small>
          {{ ep.endpoint || '--' }}
        </td>
        <td>
          <ng-container *ngIf="ep.schemaAutenticazione">
            <ng-container *ngIf="ep.schemaAutenticazione.tipo.codice === 'BASIC'">
              <span class="fas fa-user-lock mr-2" title="{{ ep.schemaAutenticazione.tipo.descrizione }}"></span>
              {{ ep.schemaAutenticazione.credenziali?.username || '--' }}
            </ng-container>
            <ng-container *ngIf="ep.schemaAutenticazione.tipo.codice === 'TOKEN'">
              <span class="fas fa-key mr-2" title="{{ ep.schemaAutenticazione.tipo.descrizione }}"></span>
              {{ ep.schemaAutenticazione.credenziali?.clientId || '--' }}
            </ng-container>
            <ng-container *ngIf="ep.schemaAutenticazione.tipo.codice === 'API_MANAGER'">
              <span class="fas fa-passport mr-2" title="{{ ep.schemaAutenticazione.tipo.descrizione }}"></span>
              {{ ep.schemaAutenticazione.credenziali?.clientId || '--' }}
            </ng-container>
            <ng-container *ngIf="ep.schemaAutenticazione.tipo.codice === 'DIGEST'">
              <span class="fas fa-fingerprint mr-2" title="{{ ep.schemaAutenticazione.tipo.descrizione }}"></span>
              {{ ep.schemaAutenticazione.credenziali?.clientId || '--' }}
            </ng-container>
          </ng-container>
          <span *ngIf="!ep.schemaAutenticazione">
            --
          </span>
        </td>
        <td class="text-right">
          <!-- ACTIONS -->
          <button class="btn btn-link btn-xs btn-action-icon mr-3" type="button" (click)="modificaEndpoint(fruitore, ep)">
            <i class=" fas fa-pen" title="{{ 'common.modifica' | translate }}"></i>
          </button>
          <button class="btn btn-link btn-xs btn-action-icon text-danger" type="button" (click)="eliminaEndpoint(fruitore, ep)">
            <i class=" fas fa-trash-alt" title="{{ 'common.elimina' | translate }}"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="3"><!-- EMPTY --></td>
        <td class="text-right">
          <!-- ACTIONS -->
          <button class="btn btn-link btn-xs btn-action-icon" type="button" (click)="aggiungiEndpoint(fruitore)">
            {{ 'common.aggiungi' | translate }} <i class=" fas fa-plus ml-2" title="{{ 'common.aggiungi' | translate }}"></i>
          </button>
        </td>
      </tr>
    </ng-container>
  </table>
  <ng-template #noEndpoints>
    <tr>
      <td colspan="4" class="text-center">
        <em>nessun endpoint configurato.</em>
        <br/>
        <button class="btn btn-link btn-sm mt-3" type="button" (click)="aggiungiEndpoint(fruitore)">
          {{ 'common.aggiungi' | translate }} <i class=" fas fa-plus ml-2" title="{{ 'common.aggiungi' | translate }}"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</ng-template>
