// main: main.scss

$rp_darkblue : #172741;
$rp_lightblue : #185aa6;
$rp_extralightblue : #d4e1f4;
$rp_extralight : #f3f3f3;
$rp_orange : #ee5b0b; 
$rp_text_color : #080808; 
$rp_lightgreen: #ADffb6;

/* badges */
$rp_stilo : #46378c;
$rp_pec : #00512e; 
$rp_pratica : #040308; 