/*
 * Copyright CSI-Piemonte - 2023
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
.file-upload-img {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
}

.app-button{
  position:relative;
  float:right;
  top: -30px;
  margin-right: 20px;
}

.text{
  font-size: 16px;
  color: #17324d;
  margin: 0px;
}
.example-list {
  border: solid 1px grey;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 15px 15px;
  border-bottom: solid 1px grey;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
}

.example-box.cdk-drag-disabled {
  cursor: not-allowed;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.25;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drop-list-dragging .empty-tip {
  display: none;
}

.remove-image {
  color:#d9364f;
  text-align: right;
  cursor: pointer;
}

.imageDiv{
  overflow: auto;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  box-sizing: content-box;
}

.imageDiv img{
  padding-top: 4%;
  vertical-align: top;
  box-sizing: content-box;
  max-width: 500px;
}


.overlap {
  vertical-align: top;
  position: absolute;
  
}
