<!--
 *  Copyright CSI-Piemonte - 2023
 *  SPDX-License-Identifier: GPL-3.0-or-later
-->
<div class="modal-header">
    <h5 class="modal-title" id="modal-title">{{title}}</h5>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
      <div [innerHTML]="safeHtml"></div>
  </div>
  <div class="modal-footer">
    <button ngbAutoFocus class="btn btn-primary btn-sm" type="button" (click)="activeModal.close('ok click')">OK</button>
  </div>
