<!--
 *  Copyright CSI-Piemonte - 2023
 *  SPDX-License-Identifier: GPL-3.0-or-later
-->
<div class="container">
  <div class="row mt-3 mb-3">
      <button type="button" class="btn btn-link btn-xs mr-2 clickable" [routerLink]="'/amministrazione'">
        <span class="fas fa-backspace pr-2"></span> Home
      </button>
  </div>

  <h2 class="mt-3 mb-5">{{ "helper.header" | translate }}</h2>

  <ng-container>

    <div class="row mt-3" *ngIf="table">
      <ng-container>
        <div class="col-12 col-lg-4 pt-1">
          <button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fas fa-plus-circle mr-2"></span>
            {{ "helper.actions.aggiungi" | translate }}  <span class="fas fa-angle-down ml-1"></span>
          </button>
          <div class="dropdown-menu">
            <div class="link-list-wrapper">
              <ul class="link-list">
                <li><a class="list-item add-helper-item" (click)="aggiungiViaInterfaccia()"><span>{{"helper.actions.tramite_interfaccia" | translate}}</span></a></li>
                <li><a class="list-item add-helper-item" (click)="aggiungiViaImport()"><span>{{"helper.actions.tramite_import" | translate}}</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </ng-container>

        <div class="col-12 col-lg-4 text-center">
            <!-- EMPTY -->
        </div>
        <div class="col-12 col-lg-4 text-right">
          <cosmo-table-search-filter *ngIf="table" [table]="table" [enableSearchIn]="false">
          </cosmo-table-search-filter>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 table-container mobile-first">
          <cosmo-table
            #table
            [tableDisplayClass]="'table-sm table-hover variant-centered'"
            [columns]="columns"
            [paginationMode]="'SERVER'"
            [dataProvider]="dataProvider"
            [enablePagination]="true"
            [enableSorting]="true"
            [enableRowExpansion]="false"
            [defaultSortingDirection]="'ASC'"
            [defaultSortingColumn]="'codicePagina'"
            [itemIdentifier]="'codicePagina'"
            [enableItemTracking]="true"
            [storeAdapter]="storeAdapter"
            [enableStorePersistence]="true"
          >
            <!-- celle custom -->
            <ng-template let-row="row" let-column="column" let-value="value" #cellTemplate>
              <div *ngFor="let item of legamiHelper | keyvalue">
                <span class="text-success pointer"
                  placement="left"
                  [ngbPopover]="popContent"
                  popoverClass="very-small-popover"
                  [popoverTitle]="popTitle"
                  [autoClose]="'outside'"
                  *ngIf="column.name === item.key && row[item.value]">

                  <ng-template #popContent>
                    <p>{{getRowTitle(row[item.value])}}</p>
                  </ng-template>
                  <ng-template #popTitle>Descrizione {{item.key}}</ng-template>
                  <button class="btn btn-link btn-xs btn-action-icon"
                  type="button" style="pointer-events: none;" disabled>
                    <em class="fas fa-check-circle"></em>
                  </button>
                </span>
              </div>
              <!-- cella ICONA DETTAGLIO -->
              <div *ngIf="column.name === 'azioni'">
                <button class="btn btn-link btn-xs btn-action-icon mr-3" type="button" (click)="esporta(row)" *ngIf="!isProduction">
                  <em class=" fas fa-file-export" title="{{ 'common.esporta' | translate }}"></em>
                </button>
                <button class="btn btn-link btn-xs btn-action-icon mr-3" type="button" (click)="modifica(row)">
                  <em class=" fas fa-pen" title="{{ 'common.modifica' | translate }}"></em>
                </button>
                <button class="btn btn-link btn-xs btn-action-icon text-danger" type="button" (click)="elimina(row)">
                  <em class=" fas fa-trash-alt" title="{{ 'common.elimina' | translate }}"></em>
                </button>
              </div>

            </ng-template>
          </cosmo-table>
        </div>
    </div>

    <div class="row mt-3" *ngIf="table">
        <div class="col-12 col-lg-3">
          <!-- EMPTY -->
        </div>
        <div class="col-12 col-lg-6 text-center">
          <cosmo-table-pagination *ngIf="table"
            [table]="table"
          ></cosmo-table-pagination>
        </div>
        <div class="col-12 col-lg-3 text-right pt-2">
          <cosmo-table-page-size *ngIf="table"
            [table]="table"
          ></cosmo-table-page-size>
        </div>
    </div>

  </ng-container>

</div>
