<!--
 *  Copyright CSI-Piemonte - 2023
 *  SPDX-License-Identifier: GPL-3.0-or-later
-->
<ng-container *ngIf="controls && formField.id" [formGroup]="controls">
    <h4
        [ngClass]="{ 'is-invalid': controls?.controls[formField.id].touched && controls?.controls[formField.id].invalid, 'required': formField.required}">
        {{formField.name}}
    </h4>
    <div *ngFor="let option of formField.options">
        <input *ngIf="formField.readOnly" formControlName="{{formField.id}}" type="radio"
            value="{{option.name}}" [attr.disabled]="formField.readOnly">
            <input *ngIf="!formField.readOnly" formControlName="{{formField.id}}" type="radio"
            value="{{option.name}}">

            {{option.name}}

    </div>
    <div class="invalid-feedback"
        *ngIf="controls?.controls[formField.id].touched && controls?.controls[formField.id].invalid">
        <p *ngIf="controls?.controls[formField.id].hasError('required')">
            {{"errori.campo_obbligatorio" | translate}}</p>
    </div>
</ng-container>
