/*
 * Copyright CSI-Piemonte - 2023
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
.btn-action {
  min-width: 10em;
}

.input-icon-container {
  width: 100%;
  text-align: right;
  padding-right: 1em;
  position: relative;
  top: -2em;
  font-size: 0.90em;;
}

.select-icon-container {
  width: 100%;
  text-align: right;
  padding-right: 2em;
  position: relative;
  top: -2em;
  font-size: 0.90em;;
}
