<!--
 *  Copyright CSI-Piemonte - 2023
 *  SPDX-License-Identifier: GPL-3.0-or-later
-->
<div class="container">
  <div class="row mb-4">
    <button type="button" class="btn btn-link btn-xs mr-2 clickable" [routerLink]="'/home'">
      <span class="fas fa-backspace pr-2"></span> Home
    </button>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="">ELENCO LAVORAZIONI</h2>
    </div>
  </div>

  <app-ricerca-pratiche
    [mostraVariabiliProcesso]="true"
    [storeAdapter]="storeAdapter"
    [tuttePratiche]= "true"
  ></app-ricerca-pratiche>
</div>
