<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<listener>
		<listener-class>it.csi.cosmo.cosmo.util.listener.AppServletContextListener</listener-class>
   	</listener>

   	<listener>
    <listener-class>
        org.springframework.web.context.request.RequestContextListener
    </listener-class>
   </listener>

   <listener>
      <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
   </listener>
   
	<listener>
      <listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
   </listener>

 	<!-- 	
 	<listener>
    	<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
   	</listener> 
   	-->
   	
 	<!--  FF: rimosso perche' facciamo component scanning dei provider
 	<context-param> 
        <param-name>resteasy.providers</param-name> 
        <param-value>it.csi.cosmo.cosmo.config.JacksonConfig</param-value>
    </context-param>
  	-->
  
  	<!-- replica della sessione (pur essendo i servizi stateless, serve per replicare il contesto 
       di autenticazione e il token xsrf, quindi e' necessario solo nello scenario SPA-REST -->
  	<!--  <distributable />  -->
	
</web-app>
